include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    meta(name="tripId" content="101")
    meta(name="helicopterId" content="13")
    title Helitour | booking
    link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/booking.css" rel="stylesheet")
    script(defer src="js/booking.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header
        h1 БРОНЮВАННЯ ПОЛЬОТУ
      +b.SECTION.booking.content.content__inner#app
        +b.FORM.booking-form.content__text
          +e.form-item_select
            +e.LABEL(for='trip-select').item-label Оберіть маршрут
            +b.DIV(
              :class='{ \'select-input_disable\': !trip }'
            ).select-input
              input(
                type='number'
                id='trip-select'
                v-model='trip'
              )
              +e.SPAN.value-block {{ trip ? tripInfo.name : 'Маршрути завантажуються' }}
              +e.dropdown
                +e.DIV(
                  v-for='tripItem in trips'
                  :key='tripItem.id'
                  :class='{ \'select-input__dropdown-item_current\': tripItem.id === trip }'
                  @click='trip = tripItem.id'
                ).dropdown-item {{ tripItem.name }}
          +e.form-item_select
            +e.LABEL(for='passengers-select').item-label Кількість пасажирів
            +b.DIV(
              :class='{ \'select-input_disable\': !passengers }'
            ).select-input
              input(
                type='number'
                id='passengers-select'
                v-model='passengers'
              )
              +e.SPAN.value-block {{ passengers ? passengers : 'Кількість пасажирів завантажується' }}
              +e.dropdown
                +e.DIV(
                  v-for='p in passengersMax'
                  :key='p'
                  :class='{ \'select-input__dropdown-item_current\': passengers === p }'
                  @click='passengers = p'
                ).dropdown-item {{ p }}
          +e.form-item_helicopters
            +e.LABEL(for='helicopter-select').item-label Оберіть вертоліт
            +b.TRANSITION-GROUP(name='helicopter-card-list' tag='div').select-cards
              input(
                type='number'
                id='helicopter-select'
                v-model='helicopter'
                :key='404'
              )
              +e.SPAN(
                v-for='helicopterItem in filteredHelicopters'
                :key='helicopterItem.id'
                :class='{ \'select-cards__item_active\': helicopter === helicopterItem.id }'
                @click='helicopter = helicopterItem.id'
              ).item
                +e.SPAN(
                  v-html='helicopterItem.icon'
                ).item-icon
                +e.item-title {{ helicopterItem.name }}
                +e.item-text {{ helicopterItem.text }}
          +e.form-item_price
            +e.SPAN(v-if="helicopter").item-label Цiна:
            +b.SPAN(data-after='грн' v-if="helicopter").price {{ price | currency }}
            +b.SPAN.checkbox
              +e.INPUT(type='checkbox' id='present-checkbox' v-model='present')
              +e.LABEL(for='present-checkbox').label Хочу замовити в подарунок
          +e.form-item_datepicker
            +e.item-label Оберіть дату та час польоту
            +e.form-item_select
              label(for='dateInput') Дата:
              date-picker(
                v-model='date'
                value-type='format'
                format='DD.MM.YYYY'
                :append-to-body='false'
                :clearable='false'
                :lang='lang'
                :editable='false'
                :input-attr='{' +
                  'id: \'dateInput\',' +
                '}'
                :disabled-date='disableDate'
              )
                template(v-slot:icon-calendar)
                  include ../../mokups/exports/calendar.svg
            +e.form-item_select
              label(for='timeInput') Время:
              date-picker(
                v-model='time'
                type='time'
                value-type='format'
                :minute-step='5'
                format='HH:mm'
                :append-to-body='false'
                :editable='false'
                :clearable='false'
                :input-attr='{' +
                  'id: \'timeInput\',' +
                  'placeholder: \'00:00\'' +
                '}'
                :disabled-time='disableTime'
              )
                template(v-slot:icon-calendar)
                  include ../../mokups/exports/clock-black.svg
          +e.form-item_personal
            +e.item-label Інформація для зв’язку
            +e.personal-wrapper
              +e.personal-wrapper-item
                +b.INPUT(type='text' placeholder='Ваше ім’я' v-model='name').text-input
                +b.INPUT(type='text' placeholder='Ваш телефон' v-model='telephone').text-input
                +b.INPUT(type='text' placeholder='Ваша почта' v-model='email').text-input
                +b.DIV(
                  :class='{ \'select-input_disable\': !delivery }'
                  v-show='present'
                ).select-input_boxed
                  input(
                    type='number'
                    id='delivery-select'
                    v-model='delivery'
                  )
                  +e.SPAN.value-block {{ delivery ? deliveryName : 'Як вам доставити сертифікат' }}
                  +e.dropdown
                    +e.DIV(
                      v-for='deliveryItem in deliveries'
                      :key='deliveryItem.id'
                      :class='{ \'select-input__dropdown-item_current\': deliveryItem.id === delivery }'
                      @click='delivery = deliveryItem.id'
                    ).dropdown-item {{ deliveryItem.name }}
                +b.DIV(
                  :class='{ \'select-input_disable\': !city }'
                  v-show='cities'
                ).select-input_boxed
                  input(
                    type='text'
                    id='city-select'
                    v-model='city'
                  )
                  //- +e.SPAN.value-block {{ city ? cityName : 'Выберете город доставки' }}
                  +e.INPUT(placeholder='Выберете город доставки' type='text' v-model='citySearch' style='width:100%;border:0;outline:none;').value-block
                  +e.dropdown
                    +e.DIV(
                      v-for='(cityItem, i) in filteredCities'
                      :key='cityItem.id'
                      :class='{ \'select-input__dropdown-item_current\': cityItem.id === city }'
                      @click='cityClick(cityItem.id)'
                    ).dropdown-item {{ cityItem.text }}
                +b.DIV(
                  :class='{ \'select-input_disable\': !warehouse }'
                  v-show='warehouses'
                ).select-input_boxed
                  input(
                    type='text'
                    id='warehouse-select'
                    v-model='warehouse'
                  )
                  //- +e.SPAN.value-block {{ warehouse ? warehouseName : 'Выберете отделение доставки' }}
                  +e.INPUT(placeholder='Выберете отделение доставки' type='text' v-model='warehouseSearch' style='width:100%;border:0;outline:none;').value-block
                  +e.dropdown
                    +e.DIV(
                      v-for='warehouseItem in filteredWarehouses'
                      :key='warehouseItem.id'
                      :class='{ \'select-input__dropdown-item_current\': warehouseItem.id === warehouse }'
                      @click='warehouseClick(warehouseItem.id)'
                    ).dropdown-item {{ warehouseItem.text }}
              +e.personal-wrapper-item
                +b.TEXTAREA(placeholder='Коментар' v-model='message').text-input
          +e.form-item_buttons
            +e.buttons-container
              +b.SPAN.checkbox_flat
                +e.INPUT(type='checkbox' id='offer-checkbox' v-model='offerAccept')
                +e.LABEL(for='offer-checkbox').label='Погоджуюсь з '
                  a.base-link(href='#') офертою
              +b.BUTTON(@click.prevent="sendForm(true)" :disabled='!isFormReady').button Оплатити онлайн
              +b.BUTTON(@click.prevent="sendForm(false)" :disabled='!isFormReady').button_flat Готівкою
      +b.SECTION.col-text.content.content__inner
        +e.text
          p За відгуками багатьох, така розвага повністю виправдовує свою ціну і коштує досить недорого. Вартість вертолітного туру доступна людині із середнім рівнем доходу і залежить від тривалості подорожі. У компанії «Helitour» ви також можете недорого придбати сертифікат в подарунок. Такий презент стане прекрасним сюрпризом для близької вам людини.
          p Для того, щоб дізнатися більш детальну інформацію про бронювання вертольота на весілля або уточнити скільки коштує тур, достатньо зателефонувати нам по одному з телефонних номерів, вказаних на сайті.
    +footer