include mixins

doctype html
html(lang="us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex, nofollow")
    meta(name="tripId" content="101")
    meta(name="helicopterId" content="10")
    meta(name="dateForm" content="01.12.2020")
    meta(name="timeForm" content="13:00")
    title Helitour | booking
    //- link(href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet")
    link(href="css/booking.css" rel="stylesheet")
    script(defer src="js/booking.js")
  body
    +header('_mb')
    main
      +b.SECTION.bg_stroke._with-header#js__fixed-visible-controller
        h1 БРОНЮВАННЯ ПОЛЬОТУ
      +b.SECTION.booking.content.content__inner#app
        +b.FORM.booking-form.content__text
          input(type='text' ref='partnerId' name='partner_id' style='width:0;opacity:0;position:absolute;z-index:-1;visibility:hidden;')
          +e.form-item_select
            +e.LABEL(for='trip-select').item-label Оберіть маршрут
            +b.DIV(
              :class='{ \'select-input_disable\': !trip }'
            ).select-input
              input(
                type='number'
                id='trip-select'
                v-model='trip'
              )
              +e.SPAN.value-block {{ trip ? tripInfo.name : 'Маршрути завантажуються' }}
              +e.dropdown
                +e.DIV(
                  v-for='tripItem in trips'
                  :key='tripItem.id'
                  :class='{ \'select-input__dropdown-item_current\': tripItem.id === trip }'
                  @click='trip = tripItem.id'
                ).dropdown-item {{ tripItem.name }}
          //+e.form-item_select
            +e.LABEL(for='passengers-select').item-label Кількість пасажирів
            +b.DIV(
              :class='{ \'select-input_disable\': !passengers }'
            ).select-input
              input(
                type='number'
                id='passengers-select'
                v-model='passengers'
              )
              +e.SPAN.value-block {{ passengers ? passengers : 'Кількість пасажирів завантажується' }}
              +e.dropdown
                +e.DIV(
                  v-for='p in passengersMax'
                  :key='p'
                  :class='{ \'select-input__dropdown-item_current\': passengers === p }'
                  @click='passengers = p'
                ).dropdown-item {{ p }}
          +e.form-item_helicopters
            +e.LABEL(for='helicopter-select').item-label Оберіть вертоліт
            +b.TRANSITION-GROUP(name='helicopter-card-list' tag='div').select-cards
              input(
                type='number'
                id='helicopter-select'
                v-model='helicopter'
                :key='404'
              )
              +e.SPAN(
                v-for='helicopterItem in helicopters'
                :key='helicopterItem.id'
                :class='{ \'select-cards__item_active\': helicopter === helicopterItem.id, \'disabled\': !filteredHelicopters.includes(helicopterItem) }'
                @click='!filteredHelicopters.includes(helicopterItem) ? alert(\'Данный вертолёт недоступен для этой экскурсии. Пожалуйста, выберите другую экскурсию\') : helicopter = helicopterItem.id'
              ).item
                +e.SPAN(
                  v-html='helicopterItem.icon'
                ).item-icon
                +e.item-title {{ helicopterItem.name }}
                +e.item-text {{ helicopterItem.text }}
          +e.form-item_price
            +e.SPAN(v-if="helicopter").item-label Цiна:
            +b.SPAN(data-after='грн' v-if="helicopter").price {{ price | currency }}
            +b.SPAN.checkbox
              +e.INPUT(type='checkbox' id='present-checkbox' v-model='present')
              +e.LABEL(for='present-checkbox').label Хочу замовити в подарунок
          +e.form-item_datepicker(v-show='!present')
            +e.item-label Оберіть дату та час польоту
            +e.form-item_select(:class="{ \'unvalid\': validate && !date}")
              label(for='dateInput') Дата:
              date-picker(
                v-model='date'
                value-type='format'
                format='DD.MM.YYYY'
                :append-to-body='false'
                :clearable='false'
                :lang='lang'
                :editable='false'
                :input-attr='{' +
                  'id: \'dateInput\',' +
                '}'
                :disabled-date='disableDate'
              )
                template(v-slot:icon-calendar)
                  include ../../mokups/exports/calendar.svg
            +e.form-item_select(:class="{ \'unvalid\': validate && !time}")
              label(for='timeInput') Время:
              date-picker(
                v-model='time'
                type='time'
                value-type='format'
                :time-picker-options="{ start: '08:00', step: '00:30', end: '20:30' }"
                format='HH:mm'
                :append-to-body='false'
                :editable='false'
                :clearable='false'
                :input-attr='{' +
                  'id: \'timeInput\',' +
                  'placeholder: \'00:00\'' +
                '}'
                :disabled-time='disableTime'
              )
                template(v-slot:icon-calendar)
                  include ../../mokups/exports/clock-black.svg
          +e.form-item_personal
            +e.item-label Інформація для зв’язку
            +e.personal-wrapper
              +e.personal-wrapper-item
                +b.INPUT(type='text' placeholder='Ваше ім’я' v-model='name' :class="{ \'unvalid\': validate && !name}").text-input
                +b.INPUT(v-show='present' type='text' placeholder='Ваше фамилия' v-model='lastName' :class="{ \'unvalid\': validate && present && !lastName}").text-input
                +b.INPUT(type='text' placeholder='Ваш телефон' v-model='telephone' :class="{ \'unvalid\': validate && (!telephone || telephone.length < 10)}").text-input
                +b.INPUT(type='text' placeholder='Ваша почта' v-model='email').text-input
                +b.DIV(
                  :class='{ \'select-input_disable\': !delivery, \'unvalid\': validate && present && !delivery && present }'
                  v-show='present'
                ).select-input_boxed
                  input(
                    type='number'
                    id='delivery-select'
                    v-model='delivery'
                  )
                  +e.SPAN.value-block {{ delivery ? deliveryName : 'Як вам доставити сертифікат' }}
                  +e.dropdown
                    +e.DIV(
                      v-for='deliveryItem in deliveries'
                      :key='deliveryItem.id'
                      :class='{ \'select-input__dropdown-item_current\': deliveryItem.id === delivery }'
                      @click='delivery = deliveryItem.id'
                    ).dropdown-item {{ deliveryItem.name }}
                +b.DIV(
                  :class='{ \'select-input_disable\': !city, \'unvalid\': validate && present && delivery === 2 && !city }'
                  v-show='delivery === 2'
                ).select-input_boxed
                  input(
                    type='text'
                    id='city-select'
                    v-model='city'
                  )
                  loading(:active.sync='loaderCityVisible' :height='40' :width='40').loader
                  //- +e.SPAN.value-block {{ city ? cityName : 'Выберете город доставки' }}
                  +e.INPUT(placeholder='Выберете город доставки' type='text' v-model='citySearch' style='width:100%;border:0;outline:none;').value-block
                  +e.dropdown
                    +e.DIV(
                      v-for='(cityItem, i) in cities'
                      :key='cityItem.id'
                      :class='{ \'select-input__dropdown-item_current\': cityItem.id === city }'
                      @click='cityClick(cityItem.id)'
                    ).dropdown-item {{ cityItem.text }}
                +b.DIV(
                  :class='{ \'select-input_disable\': !warehouse, \'unvalid\': validate && present && delivery === 2 && !warehouse }'
                  v-show='warehouses'
                ).select-input_boxed
                  input(
                    type='text'
                    id='warehouse-select'
                    v-model='warehouse'
                  )
                  loading(:active.sync='loaderWarehouseVisible' :height='40' :width='40').loader
                  //- +e.SPAN.value-block {{ warehouse ? warehouseName : 'Выберете отделение доставки' }}
                  +e.INPUT(placeholder='Выберете отделение доставки' type='text' v-model='warehouseSearch' style='width:100%;border:0;outline:none;').value-block
                  +e.dropdown
                    +e.DIV(
                      v-for='warehouseItem in filteredWarehouses'
                      :key='warehouseItem.id'
                      :class='{ \'select-input__dropdown-item_current\': warehouseItem.id === warehouse }'
                      @click='warehouseClick(warehouseItem.id)'
                    ).dropdown-item {{ warehouseItem.text }}
              +e.personal-wrapper-item
                +b.TEXTAREA(placeholder='Коментар' v-model='message').text-input
          +e.form-item_buttons
            +e.item-label Выберите способ оплаты
            +e.buttons-container
              +b.SPAN.checkbox_flat
                +e.INPUT(type='checkbox' id='offer-checkbox' v-model='offerAccept')
                +e.LABEL(for='offer-checkbox' :class="{ \'unvalid\': validate && !offerAccept}").label='Погоджуюсь з '
                  a.base-link(href='#') офертою
              +b.BUTTON(@click.prevent="sendForm(true, !isFormReady)" :disabled='button1Loader' style='position:relative').button 
                span(:style='{opacity: button1Loader?0:1}') Оплатити онлайн
                loading(v-show='button1Loader' :active.sync='button1Loader' :height='40' :width='40' style='position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);')
              +b.BUTTON(@click.prevent="sendForm(false, !isFormReady || (present && delivery !== 1))" :disabled='button2Loader' style='position:relative').button_flat
                span(:style='{opacity: button2Loader?0:1}') Готівкою
                loading(v-show='button2Loader' :active.sync='button2Loader' :height='40' :width='40' style='position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);')
      +b.SECTION.col-text.content.content__inner
        +e.text
          p За відгуками багатьох, така розвага повністю виправдовує свою ціну і коштує досить недорого. Вартість вертолітного туру доступна людині із середнім рівнем доходу і залежить від тривалості подорожі. У компанії «Helitour» ви також можете недорого придбати сертифікат в подарунок. Такий презент стане прекрасним сюрпризом для близької вам людини.
          p Для того, щоб дізнатися більш детальну інформацію про бронювання вертольота на весілля або уточнити скільки коштує тур, достатньо зателефонувати нам по одному з телефонних номерів, вказаних на сайті.
    +footer
    +b.fixed-excursion-info_keys.content#js__fixed-visible-control
      +b.excursion-info-card_flat
        +e.SVG.icon(height='682pt' viewbox='-21 -102 682.66669 682' width='682pt' xmlns='http://www.w3.org/2000/svg')
          path(d='m640 398.457031v-87.578125l-76.1875-110.214844c-24.640625-35.65625-61.789062-56.105468-101.914062-56.105468h-39.796876v-75.578125h-43.804687v-36.660157h159.042969v-37.488281h-355.550782v37.488281h159.015626v36.660157h-43.773438v75.578125h-182.296875l-27.074219-67.699219h-87.660156v178.980469h90.941406l202.527344 39.617187v14.410157c0 48.847656 39.738281 88.589843 88.585938 88.589843h2.554687v35.972657h-56.8125v37.484374h311.96875v-37.484374h-76.164063v-35.972657zm-107.023438-176.480469 40.84375 59.085938h-108.140624l-44.757813-99.011719h40.972656c27.636719 0 53.542969 14.550781 71.082031 39.925781zm-198.460937-115.511718h50.09375v38.09375h-50.09375zm-210.183594 75.585937h38.714844v49.703125l-38.714844-7.578125zm-86.847656-67.707031h24.796875l24.5625 61.421875v42.589844h-49.359375zm293.46875 195.527344v-45.273438l-130.421875-25.511718v-57.035157h179.253906l61.703125 136.5h158.242188l2.785156 4.023438v38.398437h-220.460937c-28.179688 0-51.101563-22.925781-51.101563-51.101562zm195.164063 124.558594h-104.015626v-35.972657h104.015626zm0 0')
        div
          +e.subtitle Вертолiт:
          +e.title#fixed-helitour
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
          path(d='M437,268.152h-50.118c-6.821,0-13.425,0.932-19.71,2.646c-12.398-24.372-37.71-41.118-66.877-41.118h-88.59\
                          c-29.167,0-54.479,16.746-66.877,41.118c-6.285-1.714-12.889-2.646-19.71-2.646H75c-41.355,0-75,33.645-75,75v80.118\
                          c0,24.813,20.187,45,45,45h422c24.813,0,45-20.187,45-45v-80.118C512,301.797,478.355,268.152,437,268.152z M136.705,304.682\
                          v133.589H45c-8.271,0-15-6.729-15-15v-80.118c0-24.813,20.187-45,45-45h50.118c4.072,0,8.015,0.553,11.769,1.572\
                          C136.779,301.366,136.705,303.016,136.705,304.682z M345.295,438.271h-178.59V304.681c0-24.813,20.187-45,45-45h88.59\
                          c24.813,0,45,20.187,45,45V438.271z M482,423.271c0,8.271-6.729,15-15,15h-91.705v-133.59c0-1.667-0.074-3.317-0.182-4.957\
                          c3.754-1.018,7.697-1.572,11.769-1.572H437c24.813,0,45,20.187,45,45V423.271z')
          path(d='M100.06,126.504c-36.749,0-66.646,29.897-66.646,66.646c-0.001,36.749,29.897,66.646,66.646,66.646\
                          c36.748,0,66.646-29.897,66.646-66.646C166.706,156.401,136.809,126.504,100.06,126.504z M100.059,229.796\
                          c-20.207,0-36.646-16.439-36.646-36.646c0-20.207,16.439-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                          C136.705,213.357,120.266,229.796,100.059,229.796z')
          path(d='M256,43.729c-49.096,0-89.038,39.942-89.038,89.038c0,49.096,39.942,89.038,89.038,89.038s89.038-39.942,89.038-89.038\
                          C345.038,83.672,305.096,43.729,256,43.729z M256,191.805c-32.554,0-59.038-26.484-59.038-59.038\
                          c0-32.553,26.484-59.038,59.038-59.038s59.038,26.484,59.038,59.038C315.038,165.321,288.554,191.805,256,191.805z')
          path(d='M411.94,126.504c-36.748,0-66.646,29.897-66.646,66.646c0.001,36.749,29.898,66.646,66.646,66.646\
                          c36.749,0,66.646-29.897,66.646-66.646C478.586,156.401,448.689,126.504,411.94,126.504z M411.94,229.796\
                          c-20.206,0-36.646-16.439-36.646-36.646c0.001-20.207,16.44-36.646,36.646-36.646c20.207,0,36.646,16.439,36.646,36.646\
                          C448.586,213.357,432.147,229.796,411.94,229.796z')
        div
          +e.subtitle К-сть пасажирів:
          +e.title 
            span#fixed-passengers
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 142.447 142.447' style='enable-background:new 0 0 142.447 142.447;' xml:space='preserve')
          path(style='fill:#212121;' d='M71.224,0C31.951,0,0,31.951,0,71.224s31.951,71.224,71.224,71.224s71.224-31.951,71.224-71.224\
            S110.496,0,71.224,0z M71.224,127.447C40.222,127.447,15,102.226,15,71.224S40.222,15,71.224,15s56.224,25.222,56.224,56.224\
            S102.226,127.447,71.224,127.447z')
          path(style='fill:#212121;' d='M100.923,72.016H71.724V46.724c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v32.792\
            c0,4.143,3.357,7.5,7.5,7.5h36.699c4.143,0,7.5-3.357,7.5-7.5S105.065,72.016,100.923,72.016z')
        div
          +e.subtitle Час польоту:
          +e.title#fixed-duration
      +b.excursion-info-card_flat
        +e.SVG.icon(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve')
          path(d='M496,256.012h-16v-80c0-8.832-7.168-16-16-16h-16v-48c0-8.832-7.168-16-16-16h-54.112l-27.584-55.168\
                        c-3.968-7.936-13.568-11.104-21.472-7.168L291.968,52.14l-5.664-11.296c-3.968-7.904-13.568-11.104-21.472-7.136L140.224,96.012\
                        H48c-26.464,0-48,21.536-48,48v288c0,26.464,21.536,48,48,48h416c8.832,0,16-7.168,16-16v-80h16c8.832,0,16-7.168,16-16v-96\
                        C512,263.18,504.832,256.012,496,256.012z M416,128.012v32h-6.112l-16-32H416z M328.832,69.484l45.28,90.528h-28.224\
                        l-39.616-79.264L328.832,69.484z M264.832,69.484l45.28,90.528H83.776L264.832,69.484z M48,128.012h28.224L33.28,149.484\
                        c-0.64-1.76-1.28-3.552-1.28-5.472C32,135.18,39.168,128.012,48,128.012z M448,448.012H48c-8.832,0-16-7.168-16-16V188.94\
                        c5.248,1.888,10.624,3.072,16,3.072h400v64h-64c-35.296,0-64,28.704-64,64c0,35.296,28.704,64,64,64h64V448.012z M480,352.012h-96\
                        c-17.632,0-32-14.368-32-32c0-17.632,14.368-32,32-32h96V352.012z')
        div
          +e.subtitle Вартість польоту за 1
            br
            | па-ра:
            +b.tooltip_black
              +e.text Какой-то длинный tooltip текст на подобие этого должен переноситься на несколько строк
          +e.title#fixed-price
            span#fixed-price