include ../../node_modules/bemto.pug/bemto

mixin lazy-picture(webp, jpg, alt, cls)
  picture(class=cls data-lazy data-l-pict)
    source(data-l-srcset=webp type='image/webp')
    source(data-l-srcset=jpg type='image/jpeg')
    img(data-l-src=jpg alt=alt)

mixin picture(webp, jpg, alt, cls)
  picture(class=cls)
    source(srcset=webp type='image/webp')
    source(srcset=jpg type='image/jpeg')
    img(src=jpg alt=alt)

mixin header(modifier)
  +b.HEADER(class='header'+modifier+' content')
    +e.A(href="#").link-tree
      +e.item_square._light-gray
        include ../../mokups/exports/menu.svg
      +e.item_rect._gray Меню
    +e.item_extended
      +b.lang-block
        a(href="#") Укр
        a(href="#") Eng
        a(href="#") Рус
      a(href="tel:+380673703687") +380 67 370–3687
    .spacer
    +e.A(href="#").link-tree
      +e.item_ext-rect._accent Забронювати
      +e.item_square._accent-svg
        include ../../mokups/exports/helicopter.svg
    +e.A(href="#").center-link
      include ../../mokups/exports/logo.svg

mixin footer
  +b.FOOTER.footer
    +e.content.content
      +e.block
        +b.footer-col_left
          +b.contact-block
            h4 Телефон
            a(href="tel:+380673703687").contact +380 67 370–3687
          +b.contact-block
            h4 Адрес
            p.contact
              | м. Київ, 02000,
              br
              | міні аеродром "Гідропарк"
          +b.contact-block
            h4 E-mail
            a(href="mailto:info@helitour.com.ua").contact info@helitour.com.ua
      +e.NAV.block.footer-nav__
        +e.UL.main-ul
          li
            h4 Наші вертольоти
          each i in ['Robinson R44 Raven II', 'Eurocopter EC120', 'Bell 407']
            li
              a(href="#")=i
          li.spacer
          li.desktop
            a(href="#") Карта сайту
        +e.UL.main-ul
          li
            h4 Послуги
          each i in ['Оренда вертольота в Києві', 'Вертоліт на весілля', 'Полiт на вертольотi для двоих', 'Хелiскiiнг', 'Чартернi рейси']
            li
              a(href="#")=i
          li.spacer
          li.copyright.desktop © 2020. Helitour. Всі права захищені.
        +e.UL.main-ul
          li
            h4 Екскурсії
          each i in ['Оглядовий політ над Києвом', 'Політ в Межигір\'я', 'Вертолітний тур «Церква над водi»', 'Прип\'ять i Чорнобиль']
            li
              a(href="#")=i
      +e.block
        +b.footer-col_right
          h4 Ми в соцмережах
          .row.societies
            +b.A(href="#" alt='Facebook').society_white
              include ../../mokups/exports/facebook.svg
            +b.A(href="#" alt='Youtube').society_white
              include ../../mokups/exports/youtube.svg
            +b.A(href="#" alt='Telegram').society_white
              include ../../mokups/exports/telegram.svg
            +b.A(href="#" alt='Instagram').society_white
              include ../../mokups/exports/instagram.svg
            +b.A(href="#" alt='Twitter').society_white
              include ../../mokups/exports/twitter.svg
          p Ви можете оплатити послуги гелікоптера за безготівковим розраху
          .spacer
          .row.phone.short
            a(href="#") Карта сайту
            a(href="#") Оферта
          p.tablet © 2020. Helitour. Всі права захищені.
          p.kost
            | Зроблено з
            include ../../mokups/exports/heart.svg
            | від Kost


mixin our-articles
  +b.SECTION.our-articles.content.content__inner
    h2 інші статті
    .swiper-container.swiper-container--two
      .swiper-wrapper
        .swiper-slide
          +b.article-card
            +picture('img/hel1.webp', 'img/hel1.jpg', 'Article', 'article-card__img')
            +e.content
              h3 Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") чатати
        .swiper-slide
          +b.article-card
            +picture('img/hel3.webp', 'img/hel3.jpg', 'Article', 'article-card__img')
            +e.content
              h3 в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") чатати
        .swiper-slide
          +b.article-card
            +picture('img/hel5.webp', 'img/hel5.jpg', 'Article', 'article-card__img')
            +e.content
              h3 Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") чатати
        .swiper-slide
          +b.article-card
            +picture('img/hel4.webp', 'img/hel4.jpg', 'Article', 'article-card__img')
            +e.content
              h3 в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя,
              a(href="#") чатати
      .swiper-pagination

mixin our-instagram
  +b.SECTION.our-instagram
    h2 Наш інсТаграм
    .content.content__inner
      +b.gallery_3.our-instagram__gallery
        +picture('img/inst1.webp', 'img/inst1.jpg', 'Instagram photo', 'gallery__item')
        +picture('img/inst2.webp', 'img/inst2.jpg', 'Instagram photo', 'gallery__item')
        +picture('img/inst3.webp', 'img/inst3.jpg', 'Instagram photo', 'gallery__item')
    +b.A.button.our-instagram__button(href="#") пІДПИСАТИСЬ

mixin our-excursions
  +b.SECTION.our-excursions
    h2 еКСКУРСІЇ
    .content.content__inner
      .swiper-container
        .swiper-wrapper
          +b.excursion-card.swiper-slide
            +picture('img/exc1.webp', 'img/exc1.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Оглядовий політ над Києвом
              +e.SPAN(data-after='гр').info 18
              +e.footer
                a(href="#") чатати
                +e.SPAN(data-after='грн').price 5 680
          +b.excursion-card.swiper-slide
            +picture('img/exc2.webp', 'img/exc2.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='гр').info 18
              +e.footer
                a(href="#") чатати
                +e.SPAN(data-after='грн').price 2 333
          +b.excursion-card.swiper-slide
            +picture('img/exc3.webp', 'img/exc3.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Вертолітний тур «Церква на воді»
              +e.SPAN(data-after='гр').info 18
              +e.footer
                a(href="#") чатати
                +e.SPAN(data-after='грн').price 5 680
          +b.excursion-card.swiper-slide
            +picture('img/exc4.webp', 'img/exc4.jpg', 'Excursion', 'excursion-card__img')
            +e.content
              h3 Політ над Київом та Межигір’ям
              +e.SPAN(data-after='гр').info 18
              +e.footer
                a(href="#") чатати
                +e.SPAN(data-after='грн').price 2 333
        .swiper-pagination